#count-box {
    display: flex;
}

#count-box p {
    margin: 10px 20px;
}

p {
    text-align: center;
    font-size: 28px;
}

#counter {
    min-width: 28px;
}

#display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
    font-size: 40px;
    flex: 100%;
    border-bottom: 2px ridge;
    padding: 10px 25px;
    margin: 14px;
}

#display p {
    margin: 15px 250px;
}

button {
    font-size: 22px;
    padding: 14px 34px;
    box-shadow: none;
    border: none;
    border-radius: 25px;
    color: white;
    background-color: #2e94b9;
}