#count-box {
    display: flex;
}

#count-box p {
    margin: 10px 20px;
}

p {
    text-align: center;
    font-size: 28px;
}

#counter {
    min-width: 28px;
}

#display, #quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
    font-size: 40px;
    flex: 100%;
    border-bottom: 2px ridge;
    padding: 10px 25px;
    margin: 14px;
}

#display p {
    margin: 15px 250px;
}

button {
    font-size: 22px;
    padding: 14px 34px;
    box-shadow: none;
    border: none;
    border-radius: 25px;
    color: white;
    background-color: #2e94b9;
}

.choices-btn {
    margin: 10px;
    min-width: 240px;
    height: 50px;
}

input {
  border-bottom: solid 1px #2e94b9;
  padding: 12px;
  width: 100%;
  font-size: 2.2rem;
  border: 2px solid var(--grey);
  border-radius: 12px;
  margin-right: 10px;
}

.hiscore {
    justify-content: center;
}

#hiscore-div {
    display: flex;
    margin: 10px;
}

#hiscore-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
